<div id="sidebar">
  <div class="sidebar-header">
      <div id="sidebar-title"><strong>CATEGORIES</strong></div>
  </div>

  <ul class="list-unstyled components">
      <% for(let category of categories) { %>
        <li>
          <div class="sidebar-item"><%= category %></div>
        </li>
      <% } %>
  </ul>
</div>
