<div id="sidebar">
  <div class="sidebar-header">
      <div id="sidebar-title"><strong>CATEGORIES</strong></div>
  </div>

  <ul class="list-unstyled components">
      <li>
        <div class="sidebar-item">Appitizers</div>
      </li>
      <li>
        <div class="sidebar-item">Mex Tex Pho</div>
      </li>
      <li>
        <div class="sidebar-item">Tex Pho Mex</div>
      </li>
      <li>
        <div class="sidebar-item">Mex Mex Pho</div>
      </li>
      <li>
        <div class="sidebar-item">Mex Tex Mex Pho</div>
      </li>
      <li>
        <div class="sidebar-item">Desserts</div>
      </li>
  </ul>
</div>
