<article class="pending-order-items">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">ORDER #: 125</h5>
      <hr>
      <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
      </ul>  
      <p class="card-text">Modifications explained here.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>ORDER TIME:</b> 6:45PM</li>
    </ul>
    <div class="card-body">
      
      <textarea class="sms-post" name="text" placeholder="Type SMS to customer and click accept or reject"></textarea>

      <button type="button" class="btn btn-success">SEND</button>
    </div>
  </div>
</article>