<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <%- include('partials/_header'); %>
    <h1>THIS is menu.</h1>
    <form method="POST" action="/checkout" name="burger-form">
      <button type="submit" name="burger">burger</button>
      <button type="submit" name="hotdog">hotdog</button>
      <button type="submit" name="sandwitch">sandwich</button>
    </form>
  </body>
</html>
