<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <%- include('partials/_header'); %>
    <h1>ORDER IS PLACED</h1>
    <p> <%= tempDB %> </p>
    <form method="POST" action="/restaurant" name="orderplaced-form">
      <button type="submit" name="customer-ordered">submit</button>
    </form>
  </body>
</html>
