// See: https://sass-lang.com/

//add font 'Freckle Face'
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: #EEE;

  header {
    position: fixed;
    width: 100%;

    nav {
      background-color: brown;
      font-family: 'Roboto', sans-serif;

      .nav-link {
        color: #EEE !important;
      }

      .navbar-brand {
        font-family: 'Freckle Face', cursive;
        font-size: 30px;
      }

      .btn {
        width: 200px;
        margin-right: 60px;
        background-color: #EEE;
        color: brown;
      }
    }
  }

  .checkoutItems {
    padding-top: 80px;
  }

  #main {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

    #sidebar {
      margin-top: 71px;
      padding-top: 60px;
      position: fixed;
      color: black;
      height: 100vh;
      width: 340px;
      box-shadow: 10px 0px 10px grey;

      #sidebar-title {
        font-size: 28px;
        margin-bottom: 40px;
        margin-left: 60px;
      }

      .sidebar-item {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 60px;
      }

      .sidebar-item:hover {
        background-color: black;
        color: white;
      }
    }

    .menu-container {
      margin-top: 71px;
      margin-left: 420px;
    }
  }

  .header-filler {
    height: 80px;
  }

  .checkout-container {
    height: 600px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    border: solid black !important;
    border-width: 6px;
    border-radius: 30px;

    .order-title {
      margin-left: 20px;
    }

    .borderline {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      height: 2px;
      background-color: black;
    }

    .order-columns {
      display: flex;
      justify-content: space-around;
    }

    .order-item-rows {
      display: flex;
      justify-content: space-around;
    }

    .tax-total-row {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    #checkout-button {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
  }
}


.menu-item {
  background-color: #FFF;
  width: 95%;
  height: 280px;
  margin: 40px 0px;
  margin-right: 20px;
  padding: 25px;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;

  .price {
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    background-color: #EEE;
    //box-shadow: 5px 10px #888888;
  }

  .img-props {
    width: 225px;
    height: 225px;
    border-radius: 30px;
  }

  .menu-top {
    display: flex;
    flex-direction: row;
  }

  .menu-left {
    padding-right: 25px;
  }

  .menu-right {
    justify-content: space-around;
    width: 80%;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
  }

  .bottom-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;

    .fa-money-check-alt:hover {
      color: blue;
    }

    .spicy-row {
      display: flex;
      flex-direction: row;
    }
    .spicy-icon:hover {
      color: red;
    }

    .fa-thumbs-up:hover {
      color: green;
    }

  }

  .bottom-order {
    display: flex;
    flex-direction: row;
  }

  .add-cart {
    margin-left: 10px;
    background-color:#51c2d5;
    border: #51c2d5
  }
}

// RESTAURANT CSS


.card {
  margin: 10px;

  .sms-post {
    //background-color: transparent;
    //border: none;
    outline: none;
    font-family: inherit;
    width: 100%;
    display: block;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;

    padding: 20px;
    margin-bottom: 10px;
    resize: none;
  }

}

.new-order-container {
  display: flex;
  flex-direction: row;
}
