// See: https://sass-lang.com/

//add font 'Freckle Face'
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  header {
    position: fixed;
    width: 100%;

    nav {
      background-color: brown;
      font-family: 'Roboto', sans-serif;

      .nav-link {
        color: #EEE !important;
      }

      .navbar-brand {
        font-family: 'Freckle Face', cursive;
        font-size: 30px;
      }

      .btn {
        background-color: #EEE;
        color: brown;
      }
    }
  }

  #main {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

    #sidebar {
      margin-top: 71px;
      padding-top: 60px;
      position: fixed;
      color: black;
      height: 100vh;
      width: 360px;
      box-shadow: 10px 0px 10px grey;

      #sidebar-title {
        font-size: 32px;
        margin-bottom: 40px;
        margin-left: 60px;
      }

      .sidebar-item {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 60px;
      }

      .sidebar-item:hover {
        background-color: black;
        color: white;
      }
    }

    .menu-container {
      margin-top: 71px;
      margin-left: 420px;
    }
  }
}


.menu-item {
  background-color: #FFF;
  width: 95%;
  height: 400px;
  margin: 40px 0px;
  margin-right: 20px;
  padding: 25px;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;


  &:hover {
    background-color: #EEE;
    //box-shadow: 5px 10px #888888;
  }

  .img-props {
    border-radius: 30px;
  }

  .menu-left {
    padding-right: 25px;
  }

  .menu-right {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
  }

  .bottom-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;

    .fa-money-check-alt:hover {
      color: blue;
    }

    .spicy-row {
      display: flex;
      flex-direction: row;
    }
    .spicy-icon:hover {
      color: red;
    }

    .fa-thumbs-up:hover {
      color: green;
    }

  }

  .bottom-order {
    display: flex;
    flex-direction: row;
  }

  .add-cart {
    margin-left: 10px;
    background-color:#51c2d5;
    border: #51c2d5
  }
}

// RESTAURANT CSS
.card {
  margin: 10px;


  .sms-post {
    //background-color: transparent;
    //border: none;
    outline: none;
    font-family: inherit;
    width: 100%;
    display: block;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;

    padding: 20px;
    margin-bottom: 10px;
    resize: none;
  }

}

